.texto p {
  text-transform: uppercase;
  font-size: 50px;
  font-family: Montserrat, "Arial Narrow Bold", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
}

.banner {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../../../assets/fondo2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.imagen-fondo {
  height: 100%;
  width: 1950px;
  background: #fff;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 50% 0 0 50%;
}

.imagen-fondo img {
  margin: auto;
  width: 65%;
  margin: 120px 0px 10px 100px;
}

.texto {
  margin: auto;
  justify-content: center;
  /* padding: 0 60px; */
  color: #fff;
}

.texto div {
  font-size: 18px;
}

.sect2 {
  /* height: 740px; */
  width: 100%;
  /*   margin: auto; */
  justify-content: center;
  align-items: center;
  text-align: center;
}



.content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.content img {
  width: 50%;
}

.texto-info,
.p {
  padding: 0 170px;
  color: #2e2e35;

  text-align: justify;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: normal;
}

.texto-info img {
  width: 152px;
  height: 149px;
  flex-shrink: 0;
}

.texto-info span {
  font-weight: 900;
}

.content2 {
 
  justify-content: center;
  align-items: center;
}

.content2 .p-b {
  background-color: #03045e;
  padding: 15px 30px;
  color: #fff;
  border-radius: 20px;
}

.servicios p {
  font-size: 20px;
  font-weight: 900;
  padding: 10px 0;
  color: #0c378e;
}

.dis-1 {
 
  text-align: center;
  border-radius: 10px;
  /* height: 353px !important; */
  font-weight: 600;

  padding: 25px;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
}

.servicios span {
  color: #201f1fc3;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0c378e !important;
}

.sect3 {
  background-image: url("../../../assets/fondo-mpp.png");
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.oculto {
  display: none;
}

.selected {
  background-color: #2e2e35 !important;
}

@media (max-width: 1220px) {
  .servicio-mpp {
    margin-top: 0px !important;
  }
}

@media (max-width: 1260px) {
  
}

@media (max-width: 896px) {
  .texto p {
    font-size: 35px;
  }

  .texto div {
    font-size: 15px;
  }

  
}

@media (max-width: 866px) {
  .sect2 .svg {
    width: 60%;
  }

  .sect2-app {
    height: 620px !important;
  }

  .p2 {
    padding: 0 50px;
  }
}

@media (max-width: 646px) {
  

 

  .content2 .p-b {
    padding: 17px 7px;
  }
}
